h1 stats

h2 
  | Cards Done in the last day:
  br
  span#allCount #{allCount}

h3 Categories:
  | #{daysCategories}

h3 Insert data into Trello
form#insertTrello
  textarea
  button(type="submit") Insert
